.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 3fr 4fr 4fr 4fr 5fr 5fr 5fr 4fr;
  grid-template-areas: 
    'nav'
    'header'
    'highlights1'
    'highlights2'
    'highlights3'
    'testimonials'
    'about1'
    'about2'
    'footer';
}

.nav {
  grid-area: nav; /* Use grid-area instead of grid-template-areas */
  background-color: aqua;
}

.header {
  grid-area: header;
  background-color: rgb(62, 118, 118);
}

.highlights1 {
  grid-area: highlights1;
  background-color: aqua;
}

.highlights2 {
  grid-area: highlights2;
  background-color: rgb(82, 58, 145);
}
