.container {
  min-width: 210px;
  max-width: 210px;
  border-radius: 20px;
  padding: 20px;
  margin: 25px;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
}
.testimonials-section {
  background-color: #edefee;
  height: auto;
}
.testimonials-section h3 { 
  text-align: center;
  padding: 20px;
  color: #F9D978;
  font-size: 30px;
}
h5 {
  margin-top: 20px;

}
.review-txt {
  color: black;
}
.testimony-container > h5 {
  font-size: x-large;
  font-weight: bolder;
  margin-top: 0;
}
.img-name-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.testimonies {
  display: flex;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
}
.img-name-container {
  display: inline-flex;
}
.name {
  margin-left: 20px;
}
.testimony-container span {
  margin-right: 5px;
  color: aquamarine;
  font-weight: bolder;
}
@media (max-width: 1221px){
  .container {
    margin: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
  }
}
@media (max-width: 887px) {

  .testimonies {
    display: flex;
    height: auto;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-left: auto;
  }
}
.container {
  margin: 25px;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 15px;
}